<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>
<div th:replace="aui :: header">Header</div>

<div class="itemList">
    <div class="new">
        <a th:href="@{editCustomer}">new Customer</a>
    </div>
    <table class="itemListItem" >
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Street</th>
            <th>City</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td class="itemListItem" th:text="${customer.company}"></td>
            <td class="itemListItem" th:text="${customer.contact}"></td>
            <td class="itemListItem" th:text="${customer.street}"></td>
            <td class="itemListItem" th:text="${customer.city}"></td>
            <td class="itemListItem" th:text="${customer.phone}"></td>
            <td class="itemListItem" th:text="${customer.email}"></td>
            <td>
                <a th:href="@{editCustomer(customerId=${customer.customerId})}">
                    <button name="edit" type="button">Edit</button>
                </a>
            </td>
            <td>
                <form th:action="@{/customer/remove(customerId=${customer.customerId})}" th:object="${customer}" method="post">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>