<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>
<div th:replace="aui :: header">Header</div>
<div class="main-content">
    <div class="new">
        <a th:href="@{editCustomer}">+ Customer</a>
    </div>
    <table class="itemListItem" >
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Street</th>
            <th>City</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td class="itemListItem" th:text="${customer.company}"></td>
            <td class="itemListItem" th:text="${customer.contact}"></td>
            <td class="itemListItem" th:text="${customer.street}"></td>
            <td class="itemListItem" th:text="${customer.city}"></td>
            <td class="itemListItem" th:text="${customer.phone}"></td>
            <td class="itemListItem" th:text="${customer.email}"></td>
            <td>
                <a th:href="@{editCustomer(customerId=${customer.customerId})}">
                    <button class="tab-button" name="edit" type="button">Edit</button>
                </a>
                <input class="tab-button" type="button" th:onclick="'toggle_visibility(\'surePopupCustomer' + ${customer.customerId} + '\');'" value="Delete"/>
                <script>
                    function toggle_visibility(id){
                        if (document.getElementById(id).style.display != "block"){
                            document.getElementById(id).style.display = "block";
                        } else {
                            document.getElementById(id).style.display = "none";
                        }
                    }
                </script>
                <div th:id="surePopupCustomer + ${customer.customerId}" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            Delete Customer: <span th:text="${customer.company}"></span>
                        </div>
                        <div th:if="${customer.isCustomerErasable} == true">
                            <p class="modal-body">Are you sure?</p>
                            <div class="modal-footer">
                                <form th:action="@{/customer/remove(customerId=${customer.customerId})}" th:object="${customer}" method="post">
                                    <input class="modal-button" style="float: left" type="submit" value="Delete"/>
                                </form>
                                <input class="modal-button" style="float: right" type="button" th:onclick="'toggle_visibility(\'surePopupCustomer' + ${customer.customerId} + '\');'" value="Cancel"/>
                            </div>
                        </div>
                        <div th:if="${customer.isCustomerErasable} == false">
                            <p class="modal-body">Failed! The customer ist attached to an existing delivery!</p>
                            <div class="modal-footer">
                                <input class="modal-button" style="float: right" type="button" th:onclick="'toggle_visibility(\'surePopupCustomer' + ${customer.customerId} + '\');'" value="Cancel"/>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>
</html>