<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delivery</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>
<div th:replace="aui :: header">Header</div>



<div class="itemList">

    <div class="new">
        <a th:href="@{editDelivery}">new Delivery</a>
    </div>

    <form th:action="@{/delivery}" th:object="${filter}">
        <select name="filter">
            <option value="noFilter" th:selected="${filter == 'noFilter'}">No Filter</option>
            <option value="open" th:selected="${filter == 'open'}">Open</option>
            <option value="scheduled" th:selected="${filter == 'scheduled'}">Scheduled</option>
            <option value="deliverySuccess" th:selected="${filter == 'deliverySuccess'}">Delivery Success</option>
            <option value="deliveryFailed" th:selected="${filter == 'deliveryFailed'}">Delivery Failed</option>
            <option value="noDeliveryPossible" th:selected="${filter == 'noDeliveryPossible'}">No Delivery Possible</option>
        </select>

        <button type="submit" th:action="@{/delivery(filter=${filter})}">Filter</button>
    </form>

    <table class="itemListItem">
        <tr>
            <th>Delivery Name</th>
            <th>Width</th>
            <th>Height</th>
            <th>Depth</th>
            <th>Weight</th>
            <th>Recipient</th>
            <th>Delivery Window Start</th>
            <th>Delivery Window End</th>
            <th>Type</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>

        <tr th:each="delivery : ${deliveries}">

            <td th:text="${delivery.deliveryName}"></td>
            <td th:text="${delivery.width}"></td>
            <td th:text="${delivery.height}"></td>
            <td th:text="${delivery.depth}"></td>
            <td th:text="${delivery.weight}"></td>
            <td th:text="${delivery.recipient}"></td>
            <td th:text="${{delivery.deliveryWindowStart}}"></td>
            <td th:text="${{delivery.deliveryWindowEnd}}"></td>
            <td th:text="${delivery.type}"></td>
            <td th:text="${delivery.status}"></td>
            <td>
                <a th:href="@{editDelivery(deliveryId=${delivery.deliveryId})}">
                    <button name="edit" type="button">Edit</button>
                </a>
            </td>
            <td>
                <!--<form th:action="@{/delivery/remove(deliveryId=${delivery.deliveryId})}" th:object="${currentDelivery}" method="post">
                    <input type="submit" value="Delete"/>
                </form>-->
                <input type="button" th:onclick="'toggle_visibility(\'surePopupDelivery' + ${delivery.deliveryId} + '\');'" value="Delete"/>
                <script>
                    function toggle_visibility(id){
                        if (document.getElementById(id).style.display != "block"){
                            document.getElementById(id).style.display = "block";
                        } else {
                            document.getElementById(id).style.display = "none";
                        }
                    }
                </script>
                <div th:id="surePopupDelivery + ${delivery.deliveryId}" class="modal">
                    <div class="modal-content">
                        Delete Delivery: <span th:text="${delivery.deliveryName}"></span>
                        <div th:if="${delivery.isDeliveryErasable} == true">
                            <p>Are you sure?</p>
                            <form th:action="@{/delivery/remove(deliveryId=${delivery.deliveryId})}" th:object="${currentDelivery}" method="post">
                                <input type="submit" value="Delete"/>
                            </form>
                            <input type="button" th:onclick="'toggle_visibility(\'surePopupDelivery' + ${delivery.deliveryId} + '\');'" value="No"/>
                        </div>
                        <div th:if="${delivery.isDeliveryErasable} == false">
                            <p>Failed! The delivery must have the status Open to delete.</p>
                            <input type="button" th:onclick="'toggle_visibility(\'surePopupDelivery' + ${delivery.deliveryId} + '\');'" value="Cancel"/>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </table>

</div>

</body>
</html>