<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/globalMobile.css" th:src="@{/css/global.css}" />
</head>
<body>

<div th:each="delivery : ${deliveries}">
    <a th:href="@{/driverDelivery(deliveryId=${delivery.deliveryId})}" >
        <table class="searchItem">
            <tr>
                <td th:text="${delivery.deliveryName}"></td>
            </tr>
        </table>
    </a>
</div>

<a th:href="@{driverTours}">
    <button name="back" type="button">Back</button>
</a>

</body>
</html>