<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Tours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/globalMobile.css" th:src="@{/css/global.css}" />

    <style>
        tr:hover {background-color:inherit;}
    </style>
</head>
<body>

<div th:replace="sui :: header" >Header</div>
<div class="main-content-driver">

    <a style="float:left; text-align: center; font-size: 15px; color:black; width: 50%; padding-top: 10px; padding-bottom:10px; background-color: #aaa;" th:href="@{/driverTours}">Upcoming Tours</a>
    <a style="float:right; text-align: center; font-size: 15px; color:black; width: 50%; padding-top: 10px; padding-bottom:10px; background-color: #aaa;" th:href="@{/driverTours(all=true)}">All Tours</a>

        <div th:each="tour : ${tours}" th:if="tours != null">
    <a th:href="@{/driverTourDeliveries(tourId=${tour.tourId})}" >
        <table class="displayItemsDriver">
            <tr>
                <td style="font-weight: bold; border-bottom: none;" th:text="${tour.tourName}"></td>
            </tr>
            <tr>
                <td th:text="${tour.deliverDay}"></td>
            </tr>
        </table>
    </a>
</div>
</div>

</body>
</html>