<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tour Deliveries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/globalMobile.css" th:src="@{/css/globalMobile.css}" />

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>

    <style>
        .highlight {
            border: 1px solid white;
            background-color: #a791c1;
            height: 100px;
        }
    </style>
</head>
<body>

<div th:replace="sui :: header">Header</div>
<div class="main-content">
<form th:action="@{/driverTourDeliveries}" th:object="${tour}" method="post">


    <ul id="items2" style="padding-left: 0px;">
        <li style="list-style-type: none;" th:each="delivery : ${deliveries}">

            <input type="hidden" name="orderIds" th:value="${delivery.deliveryId}"/>
            <a th:href="@{driverDeliveryStatus(deliveryId=${delivery.deliveryId})}">
                <table class="displayItemsDriver">
                    <tr>
                        <td class="handle" style="width:100%; text-align: center; background-color: #aaa;">:::</td>
                    </tr>

                    <tr >
                        <td style="font-weight: bold;" th:text="${delivery.deliveryName}"></td>
                    </tr>
                    <tr >
                        <td th:text="${delivery.recipient}"></td>
                    </tr>
                    <tr >
                        <td th:text="'Status: ' + ${delivery.status}"></td>
                    </tr>
                    <tr >
                        <td th:text="'Comment: ' + ${delivery.comment}"></td>
                    </tr>

                </table>
            </a>

        </li>
    </ul>
    <script>
        $(function () {
            $("#items2").sortable({ handle: '.handle', placeholder: "highlight" });
            $("#items2").disableSelection();
        });
    </script>

    <a th:href="@{driverTours}">
        <button name="back" type="button">Back</button>
    </a>

    <input type="hidden" name="tourId" th:value="${tour.tourId}"/>
    <button th:action="@{/driverTourDeliveries(tourId=${tour.tourId})}" type="submit">Save</button>

</form>

</div>

</body>
</html>