<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>

<div th:replace="sui :: header" >Header</div>

<div th:each="tour : ${tours}" th:if="tours != null">
    <a th:href="@{/driverTourDeliveries(tourId=${tour.tourId})}" >
        <table class="searchItem">
            <tr>
                <td th:text="${tour.tourName}"></td>
            </tr>
        </table>
    </a>
</div>



</body>
</html>