<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>

<div th:replace="aui :: header" >Header</div>

<form th:object="${currentUser}" th:fragment="editUser">
    <div>Username: <input type="text" th:field="*{username}"/></div>
    <div>First Name: <input type="text" th:field="*{firstname}"/></div>
    <div>Last Name: <input type="text" th:field="*{lastname}"/></div>
    <div>E-Mail: <input type="text" th:field="*{email}"/></div>
    <div>Roles: <input type="checkbox" th:checked="${isAdmin} == true"/>User Admin <input type="checkbox" th:checked="${isLogistician} == true"/>Logistician <input type="checkbox" th:checked="${isDriver} == true"/>Driver</div>
    <div>Password: <input type="password"/></div>
    <div>Confirm: <input type="password"/></div>

</form>

</body>
</html>