<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/globalMobile.css" th:src="@{/css/globalMobile.css}" />
    <title>Edit Profile</title>
</head>

<body>

<div th:if="${role} == 'ROLE_ADMIN'">
    <div th:replace="aui :: header">Header</div>
</div>
<div th:if="${role} == 'ROLE_USER'">
    <div th:replace="sui :: header">Header</div>
</div>
<div class="main-content">
<form th:action="@{/editMyProfile}" th:object="${loggedInUser}" method="post">
    <input type="hidden" name="username" th:field="*{username}"/>
    <input type="hidden" name="newPassword" th:field="*{password}"/>

    <div class="cancelsave">
        <a th:href="@{/myProfile}">
            <button class="savecancel-button" name="cancel" type="button">Cancel</button>
        </a>

        <button class="savecancel-button" th:action="@{/editMyProfile(user=${loggedInUser})}" type="submit">Save</button>
    </div>

    <table>
        <tr>
            <td class="tab-left">First Name</td>
            <td class="tab-right"><input type="text" maxlength="255" name="firstname" th:field="*{firstname}"/></td>
        </tr>
        <tr>
            <td class="tab-left">Last Name</td>
            <td class="tab-right"><input type="text" maxlength="255" name="lastname" th:field="*{lastname}"/></td>
        </tr>
        <tr>
            <td class="tab-left">E-Mail</td>
            <td class="tab-right"><input type="email" name="email" th:field="*{email}" /></td>
        </tr>
    </table>


</form>
</div>

</body>
</html>