<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tour</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>

<div th:replace="aui :: header" >Header</div>

<form th:action="@{/editTour}" th:object="${currentTour}" method="post">
    <input type="hidden" name="tourId" th:field="*{tourId}"/>
    <div>Tour Name: <input type="text" name="tourId" th:field="*{tourName}"/></div>
    <div>Deliver Day: <input type="text" name="deliverDay" th:field="*{deliverDay}"/></div>
    <div>Estimated Time: <input type="text" name="estimatedTime" th:field="*{estimatedTime}"/></div>
    <div>Used Time: <input type="text" name="usedTime" th:field="*{usedTime}"/></div>
    <div>Driver: <input type="text" name="driver" th:field="*{driver}"/></div>


    <a th:href="@{tour(tourId=*{tourId})}">
        <button name="cancel" type="button">Cancel</button>
    </a>

    <button th:action="@{/editTour(tour=${currentTour})}" type="submit">Save</button>

</form>


</body>
</html>