<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AUI</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
    <title>Edit Profile</title>
</head>

<body>

<div th:replace="aui :: header" >Header</div>

<form th:action="@{/editMyProfile}" th:object="${loggedInUser}" method="post">
    <div>Username: <input type="text" name="username" th:field="*{username}"/></div>
    <div>First Name: <input type="text" name="firstname" th:field="*{firstname}"/></div>
    <div>Last Name: <input type="text" name="lastname" th:field="*{lastname}"/></div>
    <div>E-Mail: <input type="text" th:name="email" th:field="*{email}" /></div>
    <input type="hidden" name="newPassword" th:field="*{password}"/>
    <input type="hidden" name="confirm" th:field="*{password}"/>



    <div>
        <a th:href="@{/myProfile}">
            <button name="cancel" type="button">Cancel</button>
        </a>

        <button th:action="@{/editMyProfile(user=${loggedInUser}, newPassword=${password}, confirm=${password})}" type="submit">Save</button>
    </div>

</form>


</body>
</html>