<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>

<div th:replace="aui :: header" >Header</div>

<form th:action="@{/editUser}" th:object="${currentUser}" method="post">
    <input type="hidden" name="userid" th:field="*{userid}"/>
    <input type="hidden" th:field="*{password}" />
    <div>Username: <input type="text" name="username" th:field="*{username}"/></div>
    <div>First Name: <input type="text" name="firstname" th:field="*{firstname}"/></div>
    <div>Last Name: <input type="text" name="lastname" th:field="*{lastname}"/></div>
    <div>E-Mail: <input type="text" th:name="email" th:field="*{email}" /></div>
    <div>Roles: <input type="checkbox" name="Checkboxes" th:checked="${isAdmin}" value="ROLE_ADMIN"/>Admin <input type="checkbox" th:name="Checkboxes" th:checked="${isUser}" value="ROLE_USER"/>Driver</div>
    <div>Password: <input type="password" name="newPassword" /></div>
    <div>Confirm: <input type="password" name="confirm" /></div>
    <div>Locked: <select name="Locked" >
        <option value="False" th:selected="*{locked=='False'}">False</option>
        <option value="True" th:selected="*{locked=='True'}">True</option>
    </select></div>

    <a th:href="@{user(usrId=${currentUser.userid})}">
        <button name="cancel" type="button">Cancel</button>
    </a>

    <button th:action="@{/editUser(user=${currentUser}, newPassword=${newPassword}, confirm=${confirm})}" type="submit">Save</button>

    <div style="color: red;" th:if="${param.error}" >
        This Username is already taken!
    </div>
</form>


</body>
</html>