<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>

<div th:replace="aui :: header" >Header</div>
<div class="main-content">
<form th:action="@{/editCustomer}" th:object="${currentCustomer}" method="post">
    <input type="hidden" name="customerId" th:field="*{customerId}"/>
    <div class="cancelsave">
        <a th:href="@{customer}">
            <button class="savecancel-button" name="cancel" type="button">Cancel</button>
        </a>

        <button class="savecancel-button" th:action="@{/editCustomer(customer=${currentCustomer})}" type="submit">Save</button>
    </div>
    <table>
        <tr>
            <td class="tab-left">Company</td>
            <td class="tab-right"><input type="text" maxlength="255" name="company" th:field="*{company}"/></td>
        </tr>
        <tr>
            <td class="tab-left">Contact Person</td>
            <td class="tab-right"><input type="text" maxlength="255" name="contact" th:field="*{contact}"/></td>
        </tr>
        <tr>
            <td class="tab-left">Street</td>
            <td class="tab-right"><input type="text" maxlength="255" name="street" th:field="*{street}"/></td>
        </tr>
        <tr>
            <td class="tab-left">City</td>
            <td class="tab-right"><input type="text" maxlength="255" name="city" th:field="*{city}"/></td>
        </tr>
        <tr>
            <td class="tab-left">Phone(10 digests)</td>
            <td class="tab-right"><input type="tel" pattern="\d{10}" name="phone" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td class="tab-left">E-Mail</td>
            <td class="tab-right"><input type="email" name="email" th:field="*{email}" /></td>
        </tr>
    </table>

</form>
</div>

</body>
</html>