<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tour</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>

</head>
<body>

<div th:replace="aui :: header" >Header</div>

<form th:action="@{/editTour}" th:object="${currentTour}" method="post">
    <input type="hidden" name="tourId" th:field="*{tourId}"/>
    <div>Tour Name: <input type="text" maxlength="255" name="tourId" th:field="*{tourName}"/></div>
    <div>Deliver Day: <input type="date" name="deliverDay" th:field="*{deliverDay}"/></div>
    <div>Estimated Time: <input type="time" name="estimatedTime" th:field="*{estimatedTime}"/></div>
    <div>Used Time: <input type="time" name="usedTime" th:field="*{usedTime}"/></div>
    <div>Driver:

        <select name="driver" >
            <option th:each="driver : ${drivers}" th:value="${driver.userid}" th:selected="${driver.userid == currentTour.driver}" th:text="${driver.firstname+' '+driver.lastname}"></option>
        </select>
    </div>

    <!-- drag und drop -->
    <div th:if="${currentTour.tourId != null}">

        <script>
            $(function () {
                $("#items1").sortable({
                    connectWith: "#items1",
                    start: function (event, ui) {
                        ui.item.toggleClass("highlight");
                    },
                    stop: function (event, ui) {
                        ui.item.toggleClass("highlight");
                    }
                });
                $("#items1").disableSelection();
            });
        </script>

        <ul id="items1" class="items">
            <li style="list-style-type: none;" class="list g" th:each="deliverySelected : ${deliveriesSelected}">
                <table class="searchItem">
                    <input type="hidden" name="orderIds" th:value="${deliverySelected.deliveryId}"/>

                    <tr >
                        <td th:text="${deliverySelected.deliveryName}"></td>
                    </tr>
                    <tr >
                        <td th:text="${deliverySelected.recipient}"></td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="@{removeDelivery(tourId=${currentTour.tourId}, deliveryId=${deliverySelected.deliveryId})}">
                                <button type="button">Remove</button>
                            </a>
                        </td>
                    </tr>

                </table>
            </li>
        </ul>

    </div>

    <a th:href="@{tour}">
        <button name="cancel" type="button">Cancel</button>
    </a>

    <button th:action="@{/editTour(tour=${currentTour})}" type="submit">Save</button>

</form>


<div th:if="${currentTour.tourId != null}">


    <div th:replace="addDeliveryPopUp :: deliveryPopup" >AddDeliveriesInTour</div>


</div>



</body>
</html>