<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tour</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>

</head>
<body>

<div th:replace="aui :: header" >Header</div>

<form th:action="@{/editTour}" th:object="${currentTour}" method="post">
    <input type="hidden" name="tourId" th:field="*{tourId}"/>
    <div>Tour Name: <input type="text" name="tourId" th:field="*{tourName}"/></div>
    <div>Deliver Day: <input type="date" name="deliverDay" th:field="*{deliverDay}"/></div>
    <div>Estimated Time: <input type="text" name="estimatedTime" th:field="*{estimatedTime}"/></div>
    <div>Used Time: <input type="text" name="usedTime" th:field="*{usedTime}"/></div>
    <div>Driver:

        <select name="driver" >
            <option th:each="driver : ${drivers}" th:value="${driver.userid}" th:selected="${driver.userid == currentTour.driver}" th:text="${driver.firstname+' '+driver.lastname}"></option>
        </select>
    </div>




<div th:if="${currentTour.tourId != null}">

    <input type="button" value="Add Delivery" th:onclick="'javascript:popup(' + ${currentTour.tourId} + ');'"/>

    <script>
        function popup(tourId) {
            window.open("/addDeliveryPopUp?tourId="+tourId, "window", "width=400,height=500");
        }
    </script>

    <div>Click on a delivery to remove:</div>

<div>

    <div th:each="deliverySelected : ${deliveriesSelected}">
        <a th:href="@{removeDelivery(tourId=${currentTour.tourId}, deliveryId=${deliverySelected.deliveryId})}">
            <table class="searchItem">

                <tr >
                    <td th:text="${deliverySelected.deliveryName}"></td>
                </tr>
                <tr >
                    <td th:text="${deliverySelected.type}"></td>
                </tr>

            </table>
        </a>
    </div>
</div>

<div>Click on a delivery to add:</div>

<div>

    <div th:each="delivery : ${deliveries}">
        <a th:href="@{addDelivery(tourId=${currentTour.tourId}, deliveryId=${delivery.deliveryId})}">
            <table class="searchItem">

                <tr >
                    <td th:text="${delivery.deliveryName}"></td>
                </tr>
                <tr >
                    <td th:text="${delivery.type}"></td>
                </tr>

            </table>
        </a>
    </div>
</div>

</div>

<!-- drag und drop -->

    <script>
        $(function () {
            $("#items1").sortable({
                connectWith: "#items1",
                start: function (event, ui) {
                    ui.item.toggleClass("highlight");
                },
                stop: function (event, ui) {
                    ui.item.toggleClass("highlight");
                }
            });
            $("#items1").disableSelection();
        });
    </script>

    <ul id="items1" class="items">
        <li style="list-style-type: none;" class="list g" th:each="deliverySelected : ${deliveriesSelected}">
            <table class="searchItem">

                <tr >
                    <td th:text="${deliverySelected.deliveryName}"></td>
                </tr>
                <tr >
                    <td th:text="${deliverySelected.type}"></td>
                </tr>

            </table>
        </li>
    </ul>


    <a th:href="@{tour(tourId=*{tourId})}">
        <button name="cancel" type="button">Cancel</button>
    </a>

    <button th:action="@{/editTour(tour=${currentTour})}" type="submit">Save</button>

</form>

</body>
</html>