<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>

<div th:replace="aui :: header" >Header</div>
<div class="main-content">
<form th:action="@{/editCustomer}" th:object="${currentCustomer}" method="post">
    <input type="hidden" name="customerId" th:field="*{customerId}"/>
    <div>Company: <input type="text" maxlength="255" name="company" th:field="*{company}"/></div>
    <div>Contact Person: <input type="text" maxlength="255" name="contact" th:field="*{contact}"/></div>
    <div>Street: <input type="text" maxlength="255" name="street" th:field="*{street}"/></div>
    <div>City: <input type="text" maxlength="255" name="city" th:field="*{city}"/></div>
    <div>Phone(10 digests): <input type="tel" pattern="\d{10}" name="phone" th:field="*{phone}"/></div>
    <div>E-Mail: <input type="email" name="email" th:field="*{email}" /></div>


    <a th:href="@{customer}">
        <button name="cancel" type="button">Cancel</button>
    </a>

    <button th:action="@{/editCustomer(customer=${currentCustomer})}" type="submit">Save</button>

</form>
</div>

</body>
</html>