<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<header class="header">
    <div class="header-left">
        <b>DELSAY</b>
    </div>
    <nav class="header-right">
        <td style="text-align: right"><a href="../login.html">Login</a></td>
    </nav>

</header>

<div class="login">

    <div>
        <div style="color: red;" th:if="${param.error}" >
            Invalid username and password or locked user.
        </div>
        <div style="color: blue;" th:if="${param.logout}" >
            You have been logged out.
        </div>
        <div style="color: red;" th:if="${param.noAccess}" >
           You have no access rights to this site.
        </div>
    </div>
    <form th:action="@{/login}" method="post">
        <div style="width: 95%; text-align:left;">
            <div>
                <label>User Name: </label>
                <label><input type="text" name='username'/> </label>
            </div>
        </div>
        <div style="width: 95%; text-align:left;">
            <div>
                <label>Password: </label>
                <label><input type="password" name="password"/> </label>
            </div>
        </div>
        <div class="loginbtn"><input type="submit" value="Sign In"/></div>
    </form>
    <br class="clear" />

</div>

<footer class="footer">© by ESE2017Team9</footer>
</body>
</html>