<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AUI</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
    <title>My Profile</title>
</head>
<body>
<div th:replace="aui :: header">Header</div>

<table>
    <tr>
        <td>Username: </td>
        <td th:text ="${currentUser.username}"></td>
    </tr>
    <tr>
        <td>First Name: </td>
        <td th:text ="${currentUser.firstname}"></td>
    </tr>
    <tr>
        <td>Last Name: </td>
        <td th:text ="${currentUser.lastname}"></td>
    </tr>
    <tr>
        <td>E-Mail: </td>
        <td th:text ="${currentUser.email}"></td>
    </tr>
</table>

</body>
</html>