<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/globalMobile.css" th:src="@{/css/globalMobile.css}" />
    <title>My Profile</title>
</head>
<body>
<div th:if="${role} == 'ROLE_ADMIN'">
    <div th:replace="aui :: header">Header</div>
</div>
<div th:if="${role} == 'ROLE_USER'">
    <div th:replace="sui :: header">Header</div>
</div>
<div class="main-content">
<table>
    <tr>
        <td>Username: </td>
        <td th:text ="${loggedInUser.username}"></td>
    </tr>
    <tr>
        <td>First Name: </td>
        <td th:text ="${loggedInUser.firstname}"></td>
    </tr>
    <tr>
        <td>Last Name: </td>
        <td th:text ="${loggedInUser.lastname}"></td>
    </tr>
    <tr>
        <td>E-Mail: </td>
        <td th:text ="${loggedInUser.email}"></td>
    </tr>
    <tr>
        <td>Id: </td>
        <td th:text ="${loggedInUser.userid}"></td>
    </tr>
</table>

<a th:href="@{editMyProfile}">
    <button name="edit" type="button">Edit</button>
</a>

    <div style="color: red;" th:if="${param.error}" >
        Change password failed!
    </div>
    <div style="color: green;" th:if="${param.success}" >
        Change password successfully!
    </div>
</div>
</body>
</html>