<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Deliveries</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>

<div th:fragment="showDelsPopup">


    <button th:id="buttondel + ${tour.tourId}" type="button">Showing</button>

    <div th:id="myPopup + ${tour.tourId}" class="modal">
        <div class="modal-content">
            <div>
                <table>
                    <tr>
                        <th th:text="${tour.tourName}"></th>
                    </tr>
                    <tr class="itemListItem">
                        <td class="itemListItem" th:text="${tour.deliveriesInTour}"></td>
                    </tr>
                </table>
            </div>
            <button name="exitDeliveryList" type="button">Cancel</button>
        </div>
    </div>

    <script th:inline="javascript">
        var tourId = [[${tour.tourId}]];

        // Get the modal
        var popupShow = document.getElementById('myPopup' + tourId);

        // Get the button that opens the modal
        var btnList = document.getElementById('buttondel' + tourId);

        // Get the span element that closes the modal
        var spanList = document.getElementsByName("exitDeliveryList")[0];

        // When the user clicks the button, open the modal
        btnList.onclick = function() {
            popupShow.style.display = "block";
        }


        // When the user clicks on span (x), close the modal
        spanList.onclick = function() {
            popupShow.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == popupShow) {
                popupShow.style.display = "none";
            }
        }

    </script>


</div>


</body>
</html>