<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SUI</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/globalMobile.css" th:src="@{/css/globalMobile.css}" />
</head>
<body>
<div class="header" th:fragment="header">
    <div id="overlay"></div>
    <div id="mySidenav" class="sidenav">
        <a style="font-size: 35px;" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <b>DELSAY</b>
        <a th:href="@{/driverTours}" target="_self">My Tours</a>
        <a href="myProfile" target="_self" >My Profile</a>

        <a id="changePwLink" style="cursor: pointer;">Change Password</a>

        <form class="logoutbtn"  th:action="@{/logout}" method="post">
            <input style="width: 100%; font-size: 15px; text-align: left; padding-left: 32px;" type="submit" value="Sign Out"/>
        </form>

    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <p>Change Password</p>
            </div>
            <form th:action="@{/sui}" th:object="${loggedInUser}" method="post">
                <div class="modal-body">
                    <input type="hidden" name="username" th:field="*{username}"/>
                    <table>
                        <tr><td class="tpw-left" style="border-bottom: none;">Old Password</td></tr>
                        <tr><td class="tpw-left"><input type="password" name="oldPassword"/></td></tr>
                        <tr><td class="tpw-left" style="border-bottom: none;">New Password</td></tr>
                        <tr><td class="tpw-left"><input type="password" name="newPassword"/></td></tr>
                        <tr><td class="tpw-left" style="border-bottom: none;">Confirm new Password</td></tr>
                        <tr><td class="tpw-left"><input type="password" name="confirm"/></td></tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="modal-button" style="width: 40%;" th:action="@{/sui(oldPassword=${oldPassword}, newPassword=${newPassword}, confirm=${confirm})}" type="submitPw">Save</button>
                    <button class="modal-button" style="width: 40%;" name="exitmodal" type="button">Cancel</button>
                </div>
            </form>
        </div>

    </div>
    <script>

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("overlay").style.display = "block";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("overlay").style.display = "none";
        }

        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }

        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("changePwLink");

        // Get the span element that closes the modal
        var span = document.getElementsByName("exitmodal")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            closeNav();
            modal.style.display = "block";
        }

        // When the user clicks on span (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <!-- Reference: https://www.w3schools.com/howto/howto_js_dropdown.asp -->

</div>

</body>
</html>