<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tour</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>
<div th:replace="aui :: header">Header</div>

<div class="itemList">
    <div class="new">
        <a th:href="@{editTour}">new Tour</a>
    </div>

    <form th:action="@{/tour}" th:object="${filter}">
        <select name="filter">
            <option value="No Filter" th:selected="${filter == 'No Filter'}">No Filter</option>
            <option th:each="driver : ${drivers}" th:value="${driver.userid}" th:selected="${filter == driver.userid}" th:text="${driver.firstname+' '+driver.lastname}"></option>
        </select>

        <button type="submit" th:action="@{/tour(filter=${filter})}">Filter</button>
    </form>

    <table class="itemListItem">
        <tr>
            <th>Name</th>
            <th>Deliver Day</th>
            <th>Estimated Time</th>
            <th>User Time</th>
            <th>Driver</th>
            <th>Deliveries</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="tour : ${tours}">
            <td class="itemListItem" th:text="${tour.tourName}"></td>
            <td class="itemListItem" th:text="${tour.deliverDay}"></td>
            <td class="itemListItem" th:text="${{tour.estimatedTime}}"></td>
            <td class="itemListItem" th:text="${{tour.usedTime}}"></td>
            <td class="itemListItem" th:text="${tour.driver}"></td>

            <!--<td>
                <button id="showItemList" type="button">Show Deliveries</button>
            </td>-->
            <td>
                <input type="button" th:onclick="'toggle_visibility(\'myPopup' + ${tour.tourId} + '\');'" value="Show Deliveries"/>
                <script>
                    function toggle_visibility(id){
                        if (document.getElementById(id).style.display != "block"){
                            document.getElementById(id).style.display = "block";
                        }else {
                            document.getElementById(id).style.display = "none";
                        }
                    }
                </script>
                <!--<div th:replace="showDeliveriesPopup :: showDelsPopup">ShowDels</div>-->
                <div th:id="myPopup + ${tour.tourId}" class="modal">
                    <div class="modal-content">
                        <div>
                            <table>
                                <tr>
                                    <th th:text="${tour.tourName}"></th>
                                </tr>
                                <tr class="itemListItem">
                                    <td class="itemListItem" th:text="${tour.deliveriesInTour}"></td>
                                </tr>
                            </table>
                        </div>
                        <input type="button" th:onclick="'toggle_visibility(\'myPopup' + ${tour.tourId} + '\');'" value="Close"/>
                    </div>
                </div>
            </td>

            <td>
                <a th:href="@{editTour(tourId=${tour.tourId})}">
                    <button name="edit" type="button">Edit</button>
                </a>
            </td>
            <td>
                <!--<form th:action="@{/tour/remove(tourId=${tour.tourId})}" th:object="${tour}" method="post">
                    <input type="submit" value="Delete"/>
                </form>-->
                <input type="button" th:onclick="'toggle_visibility(\'surePopupTour' + ${tour.tourId} + '\');'" value="Delete"/>
                <script>
                    function toggle_visibility(id){
                        if (document.getElementById(id).style.display != "block"){
                            document.getElementById(id).style.display = "block";
                        } else {
                            document.getElementById(id).style.display = "none";
                        }
                    }
                </script>
                <div th:id="surePopupTour + ${tour.tourId}" class="modal">
                    <div class="modal-content">
                        Delete Tour:
                        <p th:text="${tour.tourName}"></p>
                        <p>Are you sure?</p>
                        <p th:text="${tour.isTourErasable}"></p>
                        <form th:action="@{/tour/remove(tourId=${tour.tourId})}" th:object="${tour}" method="post">
                            <input type="submit" value="Delete"/>
                        </form>
                        <input type="button" th:onclick="'toggle_visibility(\'surePopupTour' + ${tour.tourId} + '\');'" value="No"/>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>



</body>
</html>