<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tour</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>
<div th:replace="aui :: header">Header</div>
<div class="search">

    <div class="new">
        <a th:href="@{editTour}">new Tour</a>
    </div>
    <div class="searchItem"  th:each="tour : ${tours}">
        <a th:href="@{tour(tourId=${tour.tourId})}">
            <table class="searchItem" >

                <tr >
                    <td th:text="${tour.tourName}"></td>
                </tr>

            </table>
        </a>
    </div>
</div>

<div class="showItem" th:if="${currentTour != null}">

    <table>
        <tr>
            <td>Tour Name: </td>
            <td th:text="${currentTour.tourName}"></td>
        </tr>
        <tr>
            <td>Deliver Day: </td>
            <td th:text="${currentTour.deliverDay}"></td>
        </tr>
        <tr>
            <td>Estimated Time: </td>
            <td th:text="${currentTour.estimatedTime}"></td>
        </tr>
        <tr>
            <td>Used Time: </td>
            <td th:text="${currentTour.usedTime}"></td>
        </tr>

    </table>

    <form th:action="@{/tour/remove(tourId=${currentTour.tourId})}" th:object="${currentTour}" method="post">
        <input type="submit" value="Delete"/>
    </form>


    <a th:href="@{editTour(TourId=${currentTour.tourId})}">
        <button name="edit" type="button">Edit</button>
    </a>

</div>

</body>
</html>