<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tour</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>
<div th:replace="aui :: header">Header</div>

<div class="itemList">
    <div class="new">
        <a th:href="@{editTour}">new Tour</a>
    </div>
    <table class="itemListItem">
        <tr>
            <th>Name</th>
            <th>Deliver Day</th>
            <th>Estimated Time</th>
            <th>User Time</th>
            <!--<th>Driver</th>-->
            <th>Deliveries</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="tour : ${tours}">
            <td class="itemListItem" th:text="${tour.tourName}"></td>
            <td class="itemListItem" th:text="${tour.deliverDay}"></td>
            <td class="itemListItem" th:text="${tour.estimatedTime}"></td>
            <td class="itemListItem" th:text="${tour.usedTime}"></td>
            <!--<td class="itemListItem" th:text="${driver.firstname + ' ' + driver.lastname}"></td>-->
            <td>
                <button id="showItemList" type="button">Show Deliveries</button>
            </td>
            <td>
                <a th:href="@{editTour(tourId=${tour.tourId})}">
                    <button name="edit" type="button">Edit</button>
                </a>
            </td>
            <td>
                <form th:action="@{/tour/remove(tourId=${tour.tourId})}" th:object="${tour}" method="post">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>

    <div id="myPopupShow" class="popupShow">
        <div class="popupShow-content">
            <p>List of Deliveries</p>

        </div>
    </div>

    <script>
        // Get the modal
        var popupShow = document.getElementById('myPopupShow');

        // Get the button that opens the modal
        var btn = document.getElementById("showItemList");

        // Get the span element that closes the modal
        var span = document.getElementsByName("exitmodal")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            popupShow.style.display = "block";
        }

        // When the user clicks on span (x), close the modal
        span.onclick = function() {
            popupShow.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == popupShow) {
                popupShow.style.display = "none";
            }
        }
    </script>

</div>


<div class="searchItem"  th:each="tour : ${tours}">
    <a th:href="@{tour(tourId=${tour.tourId})}">
        <table class="searchItem" >

            <tr >
                <td th:text="${tour.tourName}"></td>
            </tr>

        </table>
    </a>
</div>

<div class="showItem" th:if="${currentTour != null}">

    <table>
        <tr>
            <td>Tour Name: </td>
            <td th:text="${currentTour.tourName}"></td>
        </tr>
        <tr>
            <td>Deliver Day: </td>
            <td th:text="${currentTour.deliverDay}"></td>
        </tr>
        <tr>
            <td>Estimated Time: </td>
            <td th:text="${currentTour.estimatedTime}"></td>
        </tr>
        <tr>
            <td>Used Time: </td>
            <td th:text="${currentTour.usedTime}"></td>
        </tr>

        <tr>
            <td>Driver: </td>
            <td th:text="${driver.firstname + ' ' + driver.lastname}"></td>
        </tr>
        <tr>
            <td>#Deliveries: </td>
            <td th:text="${deliveryCount}"></td>
        </tr>

    </table>

    <form th:action="@{/tour/remove(tourId=${currentTour.tourId})}" th:object="${currentTour}" method="post">
        <input type="submit" value="Delete"/>
    </form>


    <a th:href="@{editTour(tourId=${currentTour.tourId})}">
        <button name="edit" type="button">Edit</button>
    </a>

</div>


</body>
</html>