<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>
<div th:replace="aui :: header" >Header</div>

<div class="new">
    <a href="newUser">new User</a>
</div>

<div class="search">
<div class="searchItem"  th:each="user : ${users}">
    <a th:href="@{user(usrId=${user.userid})}">
    <table class="searchItem" >

        <tr >
            <td th:text="${user.username}"></td>
        </tr>

        <tr>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.Lastname}"></td>
        </tr>

    </table>
    </a>
</div>
</div>

<div class="showItem" th:if="${currentUser != null}">

    <table>
        <tr>
            <td>Username: </td>
            <td th:text="${currentUser.username}"></td>
        </tr>
        <tr>
            <td>First Name: </td>
            <td th:text="${currentUser.firstname}"></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td th:text="${currentUser.Lastname}"></td>
        </tr>
        <tr>
            <td>E-Mail: </td>
            <td th:text="${currentUser.email}"></td>
        </tr>
    </table>

    <form th:action="@{/user/remove(usrId=${currentUser.userid})}" th:object="${usrId}" method="post">
        <input type="submit" value="Delete"/>
    </form>
    <a th:href="@{editUser(usrId=${currentUser.userid})}">
        <button name="edit" type="button">Edit</button>
    </a>

</div>

</body>
</html>