<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/global.css" th:src="@{/css/global.css}" />
</head>
<body>
<div th:replace="aui :: header" >Header</div>



<div class="itemList">

    <div class="new">
        <a th:href="@{editUser}">new User</a>
    </div>

    <form th:action="@{/user}" th:object="${filter}">
        <select name="filter">
            <option value="noFilter" th:selected="${filter == 'noFilter'}">No Filter</option>
            <option value="lockedUsers" th:selected="${filter == 'lockedUsers'}">Locked Users</option>
            <option value="drivers" th:selected="${filter == 'drivers'}">Drivers</option>
            <option value="admins" th:selected="${filter == 'admins'}">Admins</option>
        </select>

        <button type="submit" th:action="@{/user(filter=${filter})}">Filter</button>
    </form>

    <table class="itemListItem">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-Mail</th>
            <th>Locked</th>

        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.Lastname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.locked}"></td>
            <td>
                <a th:href="@{editUser(usrId=${user.userid})}">
                    <button name="edit" type="button">Edit</button>
                </a>
            </td>
            <td>
                <input type="button" th:onclick="'toggle_visibility(\'surePopupUser' + ${user.userid} + '\');'" value="Delete"/>
                <script>
                    function toggle_visibility(id){
                        if (document.getElementById(id).style.display != "block"){
                            document.getElementById(id).style.display = "block";
                        }else {
                            document.getElementById(id).style.display = "none";
                        }
                    }
                </script>
                <!--<div th:replace="showDeliveriesPopup :: showDelsPopup">ShowDels</div>-->
                <div th:id="surePopupUser + ${user.userid}" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            Delete User: <span th:text="${user.username}"></span>
                        </div>
                        <div th:if="${user.isUserErasable} == false">
                            <p class="modal-body">Failed! The user has still some tours attached!</p>
                            <div class="modal-footer">
                                <input class="modal-button" type="button" th:onclick="'toggle_visibility(\'surePopupUser' + ${user.userid} + '\');'" value="Cancel"/>
                            </div>
                        </div>
                        <div th:if="${user.isUserErasable} == true">
                            <p class="modal-body">Are you sure?</p>
                            <div class="modal-footer">
                                <form th:action="@{/user/remove(usrId=${user.userid})}" th:object="${user}" method="post">
                                    <input class="modal-button" style="float: left" type="submit" value="Delete"/>
                                </form>
                                <input class="modal-button" style="float: right" type="button" th:onclick="'toggle_visibility(\'surePopupUser' + ${user.userid} + '\');'" value="No"/>
                            </div>
                        </div>

                    </div>
                </div>
            </td>
        </tr>

    </table>

</div>

</body>
</html>